@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: #f6f5f7;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: -webkit-linear-gradient(to right, #00E4FF, #061AB4);
    background: linear-gradient(to right, #00E4FF, #061AB4);
    position: fixed;
    top: 0;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.10),
        0 5px 5px rgba(0, 0, 0, 0.10);
    z-index: 4;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 986px;
}

#l_nav {
    padding: 0 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#create_btn {
    border-radius: 20px;
    border: 1px solid #0099ff;
    background-color: #006eff;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#create_btn:hover {
    background-color: #0099ff;
}


nav h1 {
    margin: 0 10px 0 0;
    display: inline-block;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 900;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    line-height: 30px;
    padding: 0 10px;
}

nav a:hover {
    color: lightgrey;
}

#mmmnksss {
    font-size: 10px;
    text-decoration: none;
    color: lightgrey;
    line-height: 30px;
    padding: 0 10px;
}

.material-symbols-outlined {
    display: none;
}

@media (max-width: 1000px) {
    nav h1 {
        display: none;
    }

    #l_nav,
    #r_nav {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 750px) {
    #mmmnksss {
        display: none;
    }
}

@media (max-width: 700px) {
    header {
        height: 50px;
    }

    #create_btn {
        font-size: 0;
        border-radius: 0;
        border: 0;
        padding-top: 10px;
        background-color: none;
        color: #FFFFFF;
        padding: 0;
    }

    #l_nav {
        padding: 0 20px 0 0;
    }

    #r_nav {
        height: 50px;
        margin-left: 0px;
    }

    #material-add {
        display: inline-block;
        margin-top: 6px;
        font-size: 36px;
    }

    #material-add:hover {
        color: lightgray;
    }
}

@media (max-width: 500px) {
    #l_nav {
        padding: 0;
        height: 50px;
    }

    #l_nav a {
        font-size: 0;
    }

    .material-menu {
        display: inline-block;
        font-size: 36px;
        margin-top: 15px;
    }
}