@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.post {
    padding: 20px;
    background: white;
    border-radius: 16px;
    margin-bottom: 32px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.title {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.author {
    margin-top: 4px;
    font-size: 14px;
}

.content {
    margin-top: 20px;
    font-size: 16px;
    color: black;
}

.gif {
    margin-top: 16px;
    width: 100%;
    border-radius: 8px;
}

.end {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 14px;
    color: rgb(128, 126, 126);
}

.delete {
    margin-top: 16px;
    border-radius: 20px;
    border: 1px solid darkred;
    background-color: firebrick;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.delete:hover {
    background-color: orangered;
    cursor: pointer;
}